{% extends 'base.html'%}
{% import 'macros.html' as macro%}

<!-- Styles block -->

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}

<!-- Content block-->
{% block content %}

    
        <!-- source news -->
        <!-- <div class="col-md-3">
            <div class="sidebar-right">
                {% for source in sources %}
                <li class="story-highlight sources-highlight line-clamp-2">
                    <a href="{{ source.source_url }}"><span>{{ source.id }}</span></a>&nbsp;
                    <a href="{{ source.source_url }}">{{ source.name }}</a>
                </li>
                {% endfor %}
            </div>
        </div>
    </div> -->

    <div class="col-md-6">
        <div class="top-highlight">
            <h6>12&nbsp;minutes&nbsp;ago</h6>
            <p><a href="">Ex Radio Presenter: We suffered after Rose Kamotho sold Kameme fm</a></p>
            <figure class="">
                <a href=""><img src="{{url_for('static',filename='images/radio.jpg')}}" width="250px" height="110px"></a>
            </figure>
            <p><a href="">Nairobi Traders in fear over planned evictions</a></p>
            <figure class="">
                <a href=""><img src="{{url_for('static',filename='images/traders.webp')}}" width="250px" height="110px"></a>
            </figure>
            
        </div>

        {% for news in category %}
				<div class="storyhighlight ">
					<h6>5 &nbsp;hours&nbsp;ago</h6>
					<div>
                            
                        <figure class="img"><a href=""> <img src="{{ news.urlToImage }}" width="250px" height="110px"></a></figure>
                        
						<h4 class="title"><a href="{{ news.url }}">{{ news.title }}</a></h4>
						<p class="description">{{ news.description }}</p>
						<p class="published">Published at <strong>{{ news.publishedAt }}</strong></p>
					</div>
				</div>
				{% endfor %}
			</div>
{% endblock %}        